# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import Google API key
from config import weather_api_key

# Configure gmaps
gmaps.configure(api_key=weather_api_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [2]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Weather_Database/WeatherPy_database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")

# Display sample data
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Castro,BR,-24.7911,-50.0119,78.42,54,94,8.25,overcast clouds
1,1,Hilo,US,19.7297,-155.0900,78.53,74,20,8.05,few clouds
2,2,Barrow,US,71.2906,-156.7887,21.22,68,100,16.11,overcast clouds
3,3,Georgetown,MY,5.4112,100.3354,80.24,90,40,1.14,scattered clouds
4,4,Esperance,AU,-33.8667,121.9000,55.71,67,100,7.78,overcast clouds

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [3]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("What is the minimum temperature you would like for your trip?"))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("What is the maximum temperature you would like for your trip?"))

What is the minimum temperature you would like for your trip?79
What is the maximum temperature you would like for your trip?80

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [4]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                      (city_data_df["Max Temp"] >= min_temp)]
                                    
# Display sample data
preferred_cities_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
66,66,Labuhan,ID,-6.8844,112.2051,79.63,86,80,4.81,light rain
99,99,Butaritari,KI,3.0707,172.7902,79.66,74,100,13.58,overcast clouds
101,101,Bonthe,SL,7.5264,-12.5050,79.47,80,99,4.92,overcast clouds
167,167,Shakawe,BW,-18.3667,21.8500,79.61,48,24,5.75,few clouds
202,202,Daru,PG,-9.0763,143.2092,79.70,81,100,8.81,overcast clouds
284,284,Bandarbeyla,SO,9.4942,50.8122,79.16,73,8,16.98,clear sky
291,291,Nanakuli,US,21.3906,-158.1547,79.45,69,40,9.22,scattered clouds
367,367,Amahai,ID,-3.3333,128.9167,79.14,84,100,2.30,overcast clouds
448,448,Wapi Pathum,TH,15.8452,103.3768,79.32,75,97,9.42,overcast clouds
449,449,Tonj,SS,7.2737,28.6822,79.02,30,100,3.24,overcast clouds
494,494,Anito,PH,12.4497,125.2886,79.27,89,96,9.80,overcast clouds
507,507,Lamu,KE,-2.2717,40.9020,79.02,83,21,9.35,few clouds
533,533,Marsh Harbour,BS,26.5412,-77.0636,79.29,70,52,6.78,broken clouds
544,544,Pak Phanang,TH,8.3511,100.2020,79.21,83,100,1.57,moderate rain
546,546,Catuday,PH,16.2923,119.8062,79.03,79,18,10.38,few clouds
573,573,Mogadishu,SO,2.0371,45.3438,79.14,80,20,9.71,few clouds
598,598,Takoradi,GH,4.8845,-1.7554,79.29,80,100,5.66,light rain
644,644,Mulanje,MW,-16.0316,35.5000,79.20,49,94,3.27,overcast clouds
655,655,Maragogi,BR,-9.0122,-35.2225,79.41,77,20,8.19,few clouds
661,661,Sinnamary,GF,5.3833,-52.9500,79.74,83,100,11.86,moderate rain
681,681,Bull Savanna,JM,17.8868,-77.5902,79.70,73,52,2.89,light rain

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [5]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities = preferred_cities_df.dropna()

# Display sample data
preferred_cities_df.count()

City_ID                21
City                   21
Country                21
Lat                    21
Lng                    21
Max Temp               21
Humidity               21
Cloudiness             21
Wind Speed             21
Current Description    21
dtype: int64

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [6]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df =preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# Display sample data
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
66,Labuhan,ID,79.63,light rain,-6.8844,112.2051,
99,Butaritari,KI,79.66,overcast clouds,3.0707,172.7902,
101,Bonthe,SL,79.47,overcast clouds,7.5264,-12.5050,
167,Shakawe,BW,79.61,few clouds,-18.3667,21.8500,
202,Daru,PG,79.70,overcast clouds,-9.0763,143.2092,
284,Bandarbeyla,SO,79.16,clear sky,9.4942,50.8122,
291,Nanakuli,US,79.45,scattered clouds,21.3906,-158.1547,
367,Amahai,ID,79.14,overcast clouds,-3.3333,128.9167,
448,Wapi Pathum,TH,79.32,overcast clouds,15.8452,103.3768,
449,Tonj,SS,79.02,overcast clouds,7.2737,28.6822,

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [7]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# Display sample data
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
66,Labuhan,ID,79.63,light rain,-6.8844,112.2051,
99,Butaritari,KI,79.66,overcast clouds,3.0707,172.7902,
101,Bonthe,SL,79.47,overcast clouds,7.5264,-12.5050,
167,Shakawe,BW,79.61,few clouds,-18.3667,21.8500,
202,Daru,PG,79.70,overcast clouds,-9.0763,143.2092,
284,Bandarbeyla,SO,79.16,clear sky,9.4942,50.8122,
291,Nanakuli,US,79.45,scattered clouds,21.3906,-158.1547,
367,Amahai,ID,79.14,overcast clouds,-3.3333,128.9167,
448,Wapi Pathum,TH,79.32,overcast clouds,15.8452,103.3768,
449,Tonj,SS,79.02,overcast clouds,7.2737,28.6822,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [8]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": weather_api_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [12]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
   
    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()
       
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.


Hotel not found... skipping.


Hotel not found... skipping.


Hotel not found... skipping.


Hotel not found... skipping.


Hotel not found... skipping.


Hotel not found... skipping.


Hotel not found... skipping.


Hotel not found... skipping.


Hotel not found... skipping.


Hotel not found... skipping.


Hotel not found... skipping.


Hotel not found... skipping.


Hotel not found... skipping.


Hotel not found... skipping.


Hotel not found... skipping.


Hotel not found... skipping.


Hotel not found... skipping.


Hotel not found... skipping.


Hotel not found... skipping.


Hotel not found... skipping.

In [17]:
# Display sample data
hotel_df.tail()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
598,Takoradi,GH,79.29,light rain,4.8845,-1.7554,
644,Mulanje,MW,79.20,overcast clouds,-16.0316,35.5000,
655,Maragogi,BR,79.41,few clouds,-9.0122,-35.2225,
661,Sinnamary,GF,79.74,moderate rain,5.3833,-52.9500,
681,Bull Savanna,JM,79.70,light rain,17.8868,-77.5902,

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [ ]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = preferred_cities_df.dropna()

# Display sample data
clean_hotel_df.head(10)

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [ ]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [ ]:
# Set the file name.
output_data_file = "WeatherPy_vacation.csv"

# Create a CSV file by using the clean_hotel_df DataFrame
hotel_df.to_csv(output_data_file, index_label="City_ID")

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [ ]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [ ]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [ ]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [ ]:
# Add a marker layer for each city to the map. 
# YOUR CODE HERE

# Create a figure to add the Google map as a layer
# YOUR CODE HERE

# Display the figure containing the map
# YOUR CODE HERE