# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import Google API key
from config import weather_api_key

# Configure gmaps
gmaps.configure(api_key=weather_api_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [2]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Weather_Database/WeatherPy_database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")

# Display sample data
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Castro,BR,-24.7911,-50.0119,78.42,54,94,8.25,overcast clouds
1,1,Hilo,US,19.7297,-155.0900,78.53,74,20,8.05,few clouds
2,2,Barrow,US,71.2906,-156.7887,21.22,68,100,16.11,overcast clouds
3,3,Georgetown,MY,5.4112,100.3354,80.24,90,40,1.14,scattered clouds
4,4,Esperance,AU,-33.8667,121.9000,55.71,67,100,7.78,overcast clouds

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [4]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("What is the minimum temperature you would like for your trip?"))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("What is the maximum temperature you would like for your trip?"))

What is the minimum temperature you would like for your trip?79
What is the maximum temperature you would like for your trip?82

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [5]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                      (city_data_df["Max Temp"] >= min_temp)]
                                    
# Display sample data
preferred_cities_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
3,3,Georgetown,MY,5.4112,100.3354,80.24,90,40,1.14,scattered clouds
22,22,Gigmoto,PH,13.7796,124.3900,80.37,86,100,10.20,overcast clouds
28,28,Sola,VU,-13.8833,167.5500,80.13,75,3,2.39,clear sky
36,36,Lorengau,PG,-2.0226,147.2712,80.22,83,100,7.40,overcast clouds
51,51,Mana,GF,5.6592,-53.7767,81.37,78,38,11.39,scattered clouds
...,...,...,...,...,...,...,...,...,...,...
661,661,Sinnamary,GF,5.3833,-52.9500,79.74,83,100,11.86,moderate rain
665,665,Monteiro,BR,-7.8894,-37.1200,81.57,52,64,10.20,broken clouds
674,674,Amapa,BR,1.0000,-52.0000,80.96,79,100,2.71,overcast clouds
681,681,Bull Savanna,JM,17.8868,-77.5902,79.70,73,52,2.89,light rain
697,697,Conakry,GN,9.5380,-13.6773,80.67,89,40,2.30,scattered clouds

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [6]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities = preferred_cities_df.dropna()

# Display sample data
preferred_cities_df.count()

City_ID                65
City                   65
Country                65
Lat                    65
Lng                    65
Max Temp               65
Humidity               65
Cloudiness             65
Wind Speed             65
Current Description    65
dtype: int64

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [7]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df =preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# Display sample data
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Georgetown,MY,80.24,scattered clouds,5.4112,100.3354,
22,Gigmoto,PH,80.37,overcast clouds,13.7796,124.3900,
28,Sola,VU,80.13,clear sky,-13.8833,167.5500,
36,Lorengau,PG,80.22,overcast clouds,-2.0226,147.2712,
51,Mana,GF,81.37,scattered clouds,5.6592,-53.7767,
62,Caravelas,BR,81.57,few clouds,-17.7125,-39.2481,
64,Kapaa,US,80.58,scattered clouds,22.0752,-159.3190,
66,Labuhan,ID,79.63,light rain,-6.8844,112.2051,
68,Cabo San Lucas,MX,80.62,scattered clouds,22.8909,-109.9124,
75,Hobyo,SO,80.89,clear sky,5.3505,48.5268,

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [8]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# Display sample data
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Georgetown,MY,80.24,scattered clouds,5.4112,100.3354,
22,Gigmoto,PH,80.37,overcast clouds,13.7796,124.3900,
28,Sola,VU,80.13,clear sky,-13.8833,167.5500,
36,Lorengau,PG,80.22,overcast clouds,-2.0226,147.2712,
51,Mana,GF,81.37,scattered clouds,5.6592,-53.7767,
62,Caravelas,BR,81.57,few clouds,-17.7125,-39.2481,
64,Kapaa,US,80.58,scattered clouds,22.0752,-159.3190,
66,Labuhan,ID,79.63,light rain,-6.8844,112.2051,
68,Cabo San Lucas,MX,80.62,scattered clouds,22.8909,-109.9124,
75,Hobyo,SO,80.89,clear sky,5.3505,48.5268,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [17]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": weather_api_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [18]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
   
    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()
       
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [15]:
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Georgetown,MY,80.24,scattered clouds,5.4112,100.3354,Cititel Penang
22,Gigmoto,PH,80.37,overcast clouds,13.7796,124.3900,Cj's Travellers Inn
28,Sola,VU,80.13,clear sky,-13.8833,167.5500,Leumerus Bungalows
36,Lorengau,PG,80.22,overcast clouds,-2.0226,147.2712,Lorengau Harbourside Hotel
51,Mana,GF,81.37,scattered clouds,5.6592,-53.7767,LE SAMANA

In [16]:
# Display sample data
hotel_df.tail()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
661,Sinnamary,GF,79.74,moderate rain,5.3833,-52.9500,ALETHEIA Appartement Sinnamary
665,Monteiro,BR,81.57,broken clouds,-7.8894,-37.1200,Pousada Seu Tião
674,Amapa,BR,80.96,overcast clouds,1.0000,-52.0000,
681,Bull Savanna,JM,79.70,light rain,17.8868,-77.5902,Big Red's
697,Conakry,GN,80.67,scattered clouds,9.5380,-13.6773,Riviera Royal Hotel

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [19]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = preferred_cities_df.dropna()

# Display sample data
clean_hotel_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
3,3,Georgetown,MY,5.4112,100.3354,80.24,90,40,1.14,scattered clouds
22,22,Gigmoto,PH,13.7796,124.3900,80.37,86,100,10.20,overcast clouds
28,28,Sola,VU,-13.8833,167.5500,80.13,75,3,2.39,clear sky
36,36,Lorengau,PG,-2.0226,147.2712,80.22,83,100,7.40,overcast clouds
51,51,Mana,GF,5.6592,-53.7767,81.37,78,38,11.39,scattered clouds
62,62,Caravelas,BR,-17.7125,-39.2481,81.57,67,13,10.78,few clouds
64,64,Kapaa,US,22.0752,-159.3190,80.58,78,40,19.57,scattered clouds
66,66,Labuhan,ID,-6.8844,112.2051,79.63,86,80,4.81,light rain
68,68,Cabo San Lucas,MX,22.8909,-109.9124,80.62,65,40,11.50,scattered clouds
75,75,Hobyo,SO,5.3505,48.5268,80.89,73,1,15.32,clear sky

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [20]:
# In case of an empty DataFrame, load the sample data provided
clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
clean_hotel_df.head(10)

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,3,Georgetown,MY,80.24,scattered clouds,5.4112,100.3354,Cititel Penang
1,22,Gigmoto,PH,80.37,overcast clouds,13.7796,124.3900,Cj's Travellers Inn
2,28,Sola,VU,80.13,clear sky,-13.8833,167.5500,Leumerus Bungalows
3,36,Lorengau,PG,80.22,overcast clouds,-2.0226,147.2712,Lorengau Harbourside Hotel
4,51,Mana,GF,81.37,scattered clouds,5.6592,-53.7767,LE SAMANA
5,62,Caravelas,BR,81.57,few clouds,-17.7125,-39.2481,Pousada dos Navegantes
6,64,Kapaa,US,80.58,scattered clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
7,66,Labuhan,ID,79.63,light rain,-6.8844,112.2051,DoubleFAG
8,68,Cabo San Lucas,MX,80.62,scattered clouds,22.8909,-109.9124,Hotel Tesoro Los Cabos
9,75,Hobyo,SO,80.89,clear sky,5.3505,48.5268,Halane Hotel and Restaurent

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [21]:
# Set the file name.
output_data_file = "WeatherPy_vacation-backup.csv"

# Create a CSV file by using the clean_hotel_df DataFrame
hotel_df.to_csv(output_data_file, index_label="City_ID")

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [22]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [23]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>Cititel Penang</dd>\n<dt>City</dt><dd>Georgetown</dd>\n<dt>Country</dt><dd>MY</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 80.24 °F</dd>\n</dl>\n',
 "\n<dl>\n<dt>Hotel Name</dt><dd>Cj's Travellers Inn</dd>\n<dt>City</dt><dd>Gigmoto</dd>\n<dt>Country</dt><dd>PH</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 80.37 °F</dd>\n</dl>\n",
 '\n<dl>\n<dt>Hotel Name</dt><dd>Leumerus Bungalows</dd>\n<dt>City</dt><dd>Sola</dd>\n<dt>Country</dt><dd>VU</dd>\n<dt>Current Weather</dt><dd>clear sky and 80.13 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Lorengau Harbourside Hotel</dd>\n<dt>City</dt><dd>Lorengau</dd>\n<dt>Country</dt><dd>PG</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 80.22 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>LE SAMANA</dd>\n<dt>City</dt><dd>Mana</dd>\n<dt>Country</dt><dd>GF</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 81.37 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Pousada dos Navegantes</dd>\n<dt>City</dt><dd>Caravelas</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Current Weather</dt><dd>few clouds and 81.57 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Sheraton Kauai Coconut Beach Resort</dd>\n<dt>City</dt><dd>Kapaa</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 80.58 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>DoubleFAG</dd>\n<dt>City</dt><dd>Labuhan</dd>\n<dt>Country</dt><dd>ID</dd>\n<dt>Current Weather</dt><dd>light rain and 79.63 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Tesoro Los Cabos</dd>\n<dt>City</dt><dd>Cabo San Lucas</dd>\n<dt>Country</dt><dd>MX</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 80.62 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Halane Hotel and Restaurent</dd>\n<dt>City</dt><dd>Hobyo</dd>\n<dt>Country</dt><dd>SO</dd>\n<dt>Current Weather</dt><dd>clear sky and 80.89 °F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [24]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

       Lat       Lng
0   5.4112  100.3354
1  13.7796  124.3900
2 -13.8833  167.5500
3  -2.0226  147.2712
4   5.6592  -53.7767
5 -17.7125  -39.2481
6  22.0752 -159.3190
7  -6.8844  112.2051
8  22.8909 -109.9124
9   5.3505   48.5268

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [25]:
# Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()

# Create a figure to add the Google map as a layer
fig.add_layer(marker_layer)

# Display the figure containing the map
fig

Figure(layout=FigureLayout(height='420px'))